# This file is to specify intentionally untracked files that Git should ignore when checking for changes in the project.
# For more information, see https://git-scm.com/docs/gitignore

# dependencies
/node_modules/

